.main {
  display: grid;
  grid-template-rows: [top] auto [header] 1fr [bottom];
  grid-template-columns: [left] auto [sidebar] 1fr [right];
  height: 100vh;
}

.header {
  grid-column-start: left;
  grid-column-end: right;
  grid-row-start: top;
  grid-row-end: header;
  border-bottom: 1px solid gray;
}

.sidebar {
  grid-column-start: left;
  grid-column-end: sidebar;
  grid-row-start: header;
  grid-row-end: bottom;
  overflow-y: scroll;
  border-right: 1px solid gray;
}

.content {
  grid-column-start: sidebar;
  grid-column-end: right;
  grid-row-start: header;
  grid-row-end: bottom;
  overflow: scroll;
  position: relative;
}
