.main {
  display: grid;
  grid-template-rows: [top] auto [header] 1fr [bottom];
  grid-template-columns: [left] auto [sidebar] 1fr [right];
  height: 100vh;
}

.header {
  grid-column-start: left;
  grid-column-end: right;
  grid-row-start: top;
  grid-row-end: header;
  height: 5rem;
}

.sidebar {
  grid-column-start: left;
  grid-column-end: sidebar;
  grid-row-start: header;
  grid-row-end: bottom;
  overflow-y: scroll;
  width: 10rem;
}
